/* CSS for Layercake Exercise */

body {
	background-color: salmon;
}

.cake {
	width: 60%;
	margin: 0 auto;
	border-top: solid 15px white;
	border-right: solid 20px white;
}

div div {
	width: 100%;
	border: solid 1px black;
	font-family: Arial;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.icing {
	background-color: white;
}

.purple {
	background-color: purple;
}

.blue {
	background-color: blue;
}

.orange {
	background-color: orange;
}

.yellow {
	background-color: yellow;
}

.red {
	background-color: red;
}